# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# Environment Variables
.env

# Project Output
output/
downloads/
*.mp4
*.mp3
*.wav
*.m4a
*.ass

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
